* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.board {
    background-color: papayawhip;
    border: 1px solid black;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(12, 70px);
    grid-template-rows: repeat(7, 70px);
}

.space {
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}

#space-0 {grid-column: 1 / 3; grid-row: 1 / 3;}
#space-1 {grid-column: 3; grid-row: 2;}
#space-2 {grid-column: 4; grid-row: 2;}
#space-3 {grid-column: 5; grid-row: 2;}
#space-4 {grid-column: 5; grid-row: 3;}
#space-5 {grid-column: 5; grid-row: 4;}
#space-6 {grid-column: 4; grid-row: 4;}
#space-7 {grid-column: 4; grid-row: 5;}
#space-8 {grid-column: 3; grid-row: 5;}
#space-9 {grid-column: 2; grid-row: 5;}
#space-10 {grid-column: 2; grid-row: 6;}
#space-11 {grid-column: 2; grid-row: 7;}
#space-12 {grid-column: 3; grid-row: 7;}
#space-13 {grid-column: 4; grid-row: 7;}
#space-14 {grid-column: 5; grid-row: 7;}
#space-15 {grid-column: 6; grid-row: 7;}
#space-16 {grid-column: 7; grid-row: 7;}
#space-17 {grid-column: 7; grid-row: 6;}
#space-18 {grid-column: 7; grid-row: 5;}
#space-19 {grid-column: 8; grid-row: 5;}
#space-20 {grid-column: 9; grid-row: 5;}
#space-21 {grid-column: 9; grid-row: 4;}
#space-22 {grid-column: 9; grid-row: 3;}
#space-23 {grid-column: 8; grid-row: 3;}
#space-24 {grid-column: 7; grid-row: 3;}
#space-25 {grid-column: 7; grid-row: 2;}
#space-26 {grid-column: 7; grid-row: 1;}
#space-27 {grid-column: 8; grid-row: 1;}
#space-28 {grid-column: 9; grid-row: 1;}
#space-29 {grid-column: 10; grid-row: 1;}
#space-30 {grid-column: 11; grid-row: 1;}
#space-31 {grid-column: 11; grid-row: 2;}
#space-32 {grid-column: 12; grid-row: 2;}
#space-33 {grid-column: 12; grid-row: 3;}
#space-34 {grid-column: 12; grid-row: 4;}
#space-35 {grid-column: 11; grid-row: 4;}
#space-36 {grid-column: 11; grid-row: 5;}
#space-37 {grid-column: 11 / 13; grid-row: 6 / 8;}

.playersOnSpace {
    padding: 3px;
}
.playerToken {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    margin-bottom: 3px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    float: left;
}
.playerToken-red {background-color: red;}
.playerToken-yellow {background-color: yellow;}
.playerToken-green {background-color: green;}
.playerToken-blue {background-color: blue;}
.playerToken-brown {background-color: brown;}

.player {
    padding: 3px;
    display: grid;
    grid-template-columns: 16px repeat(9, 95px);
}
.playerColor {grid-column: 1;}
.playerName {grid-column: 2;}
